.App-header {
  background-color: white;
  height: 50px;
  padding: 10px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-brand, .nav-link {
  padding: 0px;
  color: black;
}

.navbar-brand:hover, .nav-link:hover {
  color: grey;
}

.linkedin, .github, .twitter, .gmail {
  padding: 0px 6px;
}
